body{
    background-image:url(../images/Noose.png);
    background-size:100%;
    margin-left:100px;
    margin-right:100px;
    align-content:center;
    text-align:center;
    font-size:24pt;
    color: white;
}
header{
    background-image:url(../images/Rope.png);
    color:white;
    width:80%;
    align-content:center;
    text-align:center;
    margin:auto;
    border: ridge;
    border-radius: 35px;
    
}
.container{
    /* width:80%; */
    background-color:grey;
    border:solid;
    border-radius: 100px;
    color:yellow;
    margin:auto;
    opacity:0.8;
}
sidebar{
    background-color:beige;
}
footer{
    width:100%;
    border:ridge;
    margin:auto;

}
h3{
    opacity:1.0;
}