body{
    background-color:pink;
    margin-left:100px;
    margin-right:100px;
    align-content:center;
    text-align:center;
    font-size:24pt;
}
header{
    background-color:blue;
    color:white;
    width:50%;
    align-content:center;
    text-align:center;
    margin:auto;
    
}
.container{
    width:80%;
    background-color:grey;
    color:yellow;
    margin:auto;
}
sidebar{
    background-color:beige;
}
footer{
    width:100%;
    border:solid;
    margin:auto;

}